@tailwind base;
@tailwind components;
@tailwind utilities;


/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  height: 100%;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background: var(--black);
  font-family: "Outfit", sans-serif;
  color: var(--white);
  display: flex;
  margin: 0;
  text-align: center;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

:root {
  --black: #202020;
  --white: #ffffff;
  --tw-color1: #a855f7;
  --tw-color1-hover: #9333ea;
}



/* Custom Classes  */



.page-container {
  min-height: 100vh;
  padding: 2rem;
}
